.kelly {
    color: white;
    font-size: 20px;
    padding-top: 50px;
}

.basem {
    color: white;
    font-size: 20px;
    padding-top: 60px;
}

.tyler {
    color: white;
    font-size: 20px;
    padding-top: 70px;
}

.mariay {
    color: white;
    font-size: 20px;
    padding-top: 80px;
}

.pppp {
    color: red;
    font-size: 30px;
    padding-top: 60px;
}

footer {
    padding: 0%;
    margin: 0%;
}
